[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third-party/sdl"]
	path = third-party/sdl
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "third-party/dawn"]
	path = third-party/dawn
	url = https://github.com/hexops/dawn
	branch = generated-2023-08-10.1691685418
